body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-image: linear-gradient(to top, #4759aaa8, rgba(0, 0, 0, 0.195));
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
/* 헤더 영역 */
.navbar.sticky-top {
    top: 15px !important;
}
.navbar {
    background-color: rgba(71, 89, 170, 0.85);
    z-index: 10;
    position: sticky;
    margin-left: 3%;
    margin-right: 3%;
}
.navbar-brand img {
    margin-left: 20%;
    margin-right: 30%;
}
.navbar .nav-link {
    color: rgba(244, 234, 234, 0.938);
}
.navbar .nav-link:hover {
    color: rgb(141, 190, 205);
}
.dropdown-menu {
    background-color: #8b8db9bc;
}
.dropdown-item {
    color: #f8f8ff;
}
.dropdown-item:hover {
    background-color: #9fa2d7;
    color: #f8f8ff;
}

.footer {
    background-color: #4759aa;
}